// Specific CSS for your home-page
.home-page {
  background: url(https://images.pexels.com/photos/1766479/pexels-photo-1766479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
  background-size: cover;
  opacity: 1px;

}

.petpal {
 font-family: 'Mali', cursive;

}
