<div class="home-page">

  <div class="search-box">
    <h1 class="petpal">PetPal</h1>
    <%= form_tag animals_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-search",
      placeholder: "Search by location"
      %>
    <% end %>
  </div>
</div>


