<!-- <div class="row"> -->
<div class="home-page">

  <div class="search-box">
    <h1 class="petpal">PetPal</h1>
    <%= link_to "Find me a Pal", animal_path(@animal), class: "form-search btn btn-outline-dark" %>
  </div>
</div>
<!-- </div> -->


<%#= form_tag animals_path, method: :get do %>
<%#= text_field_tag :query,
params[:query],
class: "form-search",
  placeholder: "Search by location"%>
  <%# end %>
