<!-- <div class="row"> -->
<div class="home-page">

  <div class="search-box">
    <div class="header-box">
    <h1 class="petpal">PetPal</h1>
    <h5 class="tag-line">Connecting pet owners with local pet borrowers for
walks, weekends and holidays.</h5>
</div>
    <%= link_to "Get Started", animals_path, class: "form-search btn btn-outline-dark mt-3" %>
  </div>
</div>
<!-- </div> -->


<%#= form_tag animals_path, method: :get do %>
<%#= text_field_tag :query,
params[:query],
class: "form-search",
  placeholder: "Search by location"%>
  <%# end %>
