<div class="background-index">
  <div class="map-layout d-flex">


<div class="container-index">
<%# link_to "Add a Pal", new_animal_path, class: "btn btn-info btn-md my-3 ml-2"  %>
  <div class="row mt-5 mb-5" id="card">
    <!-- <div class="d-flex justify-content-between"> -->
      <% @animals.each do |animal| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: 'card', locals: { animal: animal } %>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
</div>
