.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


#rating-star {
  color: #F6EBAA;
  border: #EDD755;
}


.review-scroll {
  overflow: scroll;
  max-height: 300px;
}


#new_review {
width: 400px;
height: 400px ;
text-align: center;
align-content: center;
}


// #review-header {
//   position: fixed; top: 0; left: 0;
// }
.review-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;

  width: 80%;
  margin: auto;

 display: flex;

 justify-content: center;

}
.rating-form {
  display: flex;
justify-content: center;


}


.form-control-label {
  font-size: 19px;
}


.br-theme-css-stars {
  .br-widget {
    a:after  {
  color: white !important;
    }
   .br-active:after {
      color: #F6EBAA !important;
    }
    .br-selected:after  {
      color: #F6EBAA !important;
    }
  }
}



textarea.form-control {
    height: 125px;
    border-radius: 5px;

}


.review_rating {
  display: inline-block;
}

.br-widget {
  align-content: center;
}















