.background {
  height: calc(150vh - 69px - 70px);
  background-color: #d3c2be;
}

.background-index {
  height: 100%;
  background-color: #d3c2be;
}

.book-back {
  // background: url(https://images.pexels.com/photos/174667/pexels-photo-174667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
  background-image: url("https://images.unsplash.com/photo-1533743983669-94fa5c4338ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2783&q=80");
  background-size: cover;
  height: calc(100vh - 69px - 70px);
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
}



.background-confirm {
  // background-color: #D3C2BE;
  // background-image: url("https://images.unsplash.com/photo-1525253013412-55c1a69a5738?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  // background-image: url('stylesheets/images/puppy.jpeg');
  background-image: url("https://images.pexels.com/photos/59523/pexels-photo-59523.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=1200");
  height: calc(100vh - 69px - 70px);
  text-align: center;
  padding-top: 10px;
}

.background-info {
  background-color: rgba(255,255,255,0.4);
  width: 500px;
  padding: 10px;


}


.booking-words {
  font-family: 'Raleway', sans-serif;
  h4 {
    font-size: 20px;
  }
}


.edit-back {
  background: url(https://images.unsplash.com/photo-1543337676-7712b5028449?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80) no-repeat center center fixed;
  background-size: cover;

  height: 130vh;

  opacity: 0.8;
}


.white-box {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;


}

  #start_input  {
    margin-top: 5px;
border: white;
text-align: center;
}
