#card {
  flex-grow: 3;
}


.card-animal {
  overflow: hidden;
  grid-gap: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background: cover;
  background-position: center;
  position: relative;
  z-index: 200;
  justify-content: around;
  position: relative;


  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  h3 {
    font-weight: bold;
    margin: 0;
    font-family: 'Mali', cursive;
  }
  // a {
  //   font-size: 30px;
  //   font-family: 'Courgette', cursive;
  //   color: white;
  //   opacity: 1.2;
  //   margin: 0;
  //   position: absolute;
  //   bottom: 19px;
  //   left: 23px;
  //   text-decoration: none;
  // }
}

.card-info {
  padding: 8px;
  background-color: white;
}

.card-image {
  object-fit: cover;
  display: block;
}


.card-button {
  position: absolute;
  right: 10px;
  bottom: 50px;
}


.confirmation-box {
margin-left: 40px;
margin-top: 20px;
width: 450px;
height: 130px;
left: 60px;
top: 150px;
background-color: rgba(255, 255, 255, 0.6);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 6px;

}


.main-text {
  // margin-left: 10px;
  padding-top: 10px;
  text-align: center;
}

// .booking-header {
//   display: inline-block;
//   text-align: center;
// }

// .avatar-book {
//   .avatar {
//   width: 40px;
//   border-radius: 50%;
// }


.info-card {
  height: 80px;
  width: 200px;
  p {
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    left: 35px;
  }
}


// .card-image-info > img {
//   height: 50px;
//   width: 50px;
// }

.mapboxgl-popup-content {
  height: 220px;
  width: 220px;
  position: relative;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #C9C7CA;
  position: relative;
  img {
    height: 170px;
    width: 190px;
    padding: 0px;
  }
}

.info-button {
  position: absolute;
  bottom: 2px;
  font-family: 'Raleway', sans-serif;

  a {
    color: white;
    background-color: #d3c2be;
    text-decoration: none;
    border: 1px solid #C9C7CA;
    padding: 2px;
    position: absolute;
    bottom: 5px;
    left: 95px;
    width: 85px;
    height: 25px;
  }
}














