.form-header {
  background-image: url("https://images.unsplash.com/photo-1513325311554-919df6bad5fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  h1 {
    margin-right: 10px;
    margin-left: 100px;
    display: flex;
    font-family: 'Mali', cursive;
  }
}

// .form-info {
//   width: 400px;
//   margin-right: 10px;
//   margin-left: 100px;

// }

.form-button {
  padding: 5px;
}

.form-color {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  // opacity: 0.4;
}

.animal-input {
  background-color: #E0D1C8;
  border-bottom: 1px solid #2F7975;
}

.edit-back {
  h2 {
    margin-right: 10px;
    margin-left: 100px;
    display: flex;
    font-family: 'Mali', cursive;
     padding-bottom: 10px;
     padding-top: 10px;
  }
}

.edit-input {
  background-color: #019EC4;
  border-bottom: 1px solid #2F7975;
  border-top: #019ec4;
  border-left: #019ec4;
  border-right: #019ec4;
  background-color: rgba(255, 255, 255, 0.03);
}

.edit-form {
  margin-right: 150px;

}

.edit-form-color {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  // opacity: 0.4;
}

.form-signup {
  background-image: url("https://images.unsplash.com/photo-1511914265872-c40672604a80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  height: 130vh;

}


.form-signin {
  background-image: url("https://images.unsplash.com/photo-1541689221361-ad95003448dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: calc(100vh - 69px - 70px);
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: #DBC9C1;
  border-radius: 2px;
}


.form-control {
  background-color: #CAD2D3;
  border: solid 1px #9d9d9d;

}


.submit-button {
  height: 38px;
  width: 50px;
  background-color: #D3C2BE;
  font-size: x-large;
  border-radius: 5px;
}

















